/* Загальне для теми */
:root { color-scheme: dark; } /* підказка браузеру для нативних контролів */

/* Chrome / Edge / Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #e5e7eb;        /* колір тексту */
  box-shadow: 0 0 0 1000px #303030 inset;  /* ЗАЛИВАЄМО фон темним */           /* якщо треба бордер */
  transition: background-color 9999s ease-out 0s; /* прибирає “мигання” білого */
}

/* Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0 1000px #303030 inset;
  -moz-text-fill-color: #e5e7eb;
}

/* центрування(margin: auto;) та надання розмуру головному центруючому контейнеру calc(100% - 400px) = 100% ширени екрану мінус по 225 пікселів зліва і зправа */
.container {
    width: calc(100% - 30%);
    /* можна відраховувати відстань ps: крута штука */
    margin: 0 auto;
}

/*для вирівнювання колонами*/
.flex-column {
    display: flex;
    flex-direction: column;
}

/*--------------------головні стилі для------------------------------*/
body {
    display: flex;
    flex-direction: column;
    background-color: #1D1E1F;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

/* хедер */
header {
    height: 80px;
    width: 100%;
    background-color: #252627;
}

header .header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo span {
    color: #00b8fc;
}

.logo {
    font-family: "Paytone One", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}

/* інпут для пошуку в хедері */
.main-search input {
    border: 0;
    height: 48px;
    background-color: #303030;
    padding: 0;
    width: calc(100% - 40px);
    box-sizing: border-box;
}

.main-search input[type="text"]:focus {
    outline: 0;
}

.main-search {
    height: 50px;
    width: 500px;
    border-radius: 25px;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    border: 1px solid transparent;
    transition: border-color .25s;
}

.main-search:hover {
   border-color: #aeaeae;
}

.main-search:focus-within {
    border: 1px #ffffff solid;
}
/* інпут для пошуку в хедері кінець */

.login-btn {
    display: flex;
    align-items: center;
    
}

/* нав хедер */
nav .login-btn {
    font-size: 14px;
}

/*--------------------стилі для сторінок логінів і реєстрацій------------------------------*/
        
/*базові стилі для інпута*/
.auth-input-base {
    height: 55px;
    background-color: #303030;
    border: 0;
    width: 100%;
    outline: 0;
    font-family: "Open Sans", sans-serif;
    color: #cecece;
    
}

.auth-input-base[type="text"] {
    font-size: 15px;
}

.auth-input-base[type="text"]::placeholder {
    color: #aeaeae;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}
.auth-input-base[type="text"]:focus {
    color: #fff;
}

/*додаткові стилі для базових інпутів но для паролів додатково*/
.password-input-hiden[type="password"] {
    font-size: 24px; /*для великих крапок*/
}

.password-input-hiden[type="password"]::placeholder {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    transform: translateY(-2px);
}

/*чекбокс для прийнняття правил*/
.agree-checkbox-auth[type="checkbox"] {
    height: 18px;
    width: 18px;
    accent-color: #00b8fc;
    margin-right: 8px;
    outline: 0;
    border: solid 1px #fff;
}

.agree-checkbox-auth[type="checkbox"]:checked {
    background-color: #00b8fc;
}

/*база для кнопки реєстрації | логіну*/
.auth-acept-base {
    background-color: #00b8fc;
    border: 0;
    height: 48px;
    font-size: 18px;
    border-radius: 24px;
    padding: 0 32px;
    cursor: pointer;
    font-weight: 500;
    transition: .2s
}
/*анімація для ацепт кнопки*/
.auth-acept-base:hover {
    box-shadow: #00b8fc 0px 10px 20px -10px;
    transform: translateY(-2px)
}

/*іконка біля пароля для його показу*/
.show-password-btn {
    padding-left: 8px;
    display: inline-block;
}

.pass-icon {
    width: 24px;
    height: 24px;
    display: none;
    color: #aeaeae;
    transition: .25s;
}

.pass-icon:hover {
    color: #fff;
}

.show-password-btn.show .show-password-icon { display: none; }
.show-password-btn.show .hide-password-icon { display: inline; }
.show-password-btn:not(.show) .show-password-icon { display: inline; }


/*
========================================================
********************Панель з фільмами*******************
========================================================
*/

.movie-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px;
    gap: 10px;
}

.movie-item {
    background-color: rgb(92, 84, 84);
    transition: 0.25s;
    position: relative;
    border-radius: 0 0 8px 8px;
    width: 210px;
    cursor: pointer;
}

.movie-item:hover {
    box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
    scale: 1.01;
}

.movie-item-grup {
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.movie-item .movie-item-grup img {
    height: 100%;
    width: 100%;
    z-index: 0;
}

.movie-item .movie-item-grup .hover-ground {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff00;
    position: absolute;
    inset: 0;
    transition: .25s;
    z-index: 1;
}

/* початкова позиція кнопки play*/
.play-button {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: #fff solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: relative;
    top: 3px;
    transition: .25s;
}

.movie-item .movie-item-grup .hover-ground:hover {
    background-color: #00b8fc30;
    cursor: pointer;
    
}

/*кнока "плей" коли наведено на картек фільму*/
.movie-item .movie-item-grup .hover-ground:hover .play-button {
    opacity: 1;
    top: 0;
}

.movie-item .movie-item-grup .hover-ground .play-button:hover {
    background-color: #00b8fc;
    border: 2px solid #00b8fc;
}


.movie-item:hover .movie-info  {
    /* box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25); */

}

/* нижня частина для картки фільму */
.movie-info {
    box-sizing: border-box;
    transition: .25s;
    height: 55px;
    background-color: #252627;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8px 16px;
    justify-content: space-between;
    cursor: pointer;
}

.itemtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemtitle .cardtitle { 
    font-size: 12px;
    font-weight: 700;
    
}

.year {
    color: #fff;
    margin-right: 5px;
    font-size: 14px;
}

.moviegenre {
    margin-left: 4px;
    color: #aeaeae;
    cursor: pointer;
}

.moviegenre:hover {
    color: #fff;
}

.moviegenre::before {
    content: '•';
    font-size: 14px;
}

.movie-info .description {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-info .description .genres { 
    display: flex;
    flex-direction: row;
    font-size: 13px;
    align-items: center;
}

/*
========================================================
**************Панель зфільмами кінець*******************
========================================================
*/