body {
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 300px;
    margin: 0 auto;
}

.title {
    width: 100%;
}

.title h1 {
    margin: 0 auto;
}

.kvadrat {
    height: 300px;
    width: 300px;
    background-color: blue;
    display: flex;
    margin: auto;
    margin-top: 160px;
}

.number {
    font-size: 190px;
    margin: auto;
}